			*
			{
				box-sizing:border-box;
			}
			
			body{
				margin:0;
			}
			nav
			{
				background-color:black;
				width:100%;
				height:100%;
				display:flex;
				padding:1%;
				
				gap:2%;
			}
			
			
			.div1
			{
				display:inline-block;
				width:8%;				
			}
			.img
			{
				height:100%;
				width:100%;
			}
			.flag
			{
				height:100%;
				width:60%;
				display:inline-block;
				
			}
			.nav2
			{
				width:100%;
				height:;
				display:flex;
				background-color:#003049;
				color:white;
				gap:1.7%;
				padding:0.5%;
				box-sizing:border-box;
				font-size:16px;
				justify-content:center;
			}
			.baner
			{
				display:flex;
				background-color:#3A6F43;
				height:100%;
				width:100%;
				padding:1%;
				color:white;
				justify-content:center;
				box-sizing:border-box;
				
			}
			.pay
			{
				display:flex;
				background-color:white;
				width:75%;
				height:14%;
				margin-top:10%;
				padding:1%;
				gap:2%;
				box-sizing:border-box;
			}
			.pimg
			{
				height:100%;
				width:20%;
				
			}
			.dimg
			{
				height:100%;
				width:80%;
			}
			.items
			{
				background-color:#EEEEEE;
				width:100%;
				height:400px;
				padding:1%;
				box-sizing:border-box;
				display:flex;
			}
			.micro
			{
				height:100%;
				width:23%;
				background-color:white;
				
			}
			.micimg
			{
				padding:5%;
				
			}
			.sign
			{
				background-color:white;
				clear:both;
			}
			.item2
			{
				background-color:#EEEEEE;
				width:100%;
				height:300px;
				padding:1%;
				
				display:flex;
				
			}
			.head1
			{
				padding:1%;
				font-size:25px;
				font-weight:bold;
			}
			.history
			{
				height:100%;
				width:100%; 
				padding:1%;
							
			}
			.dis{
				display:flex;
			}
			.signup
			{
				
				width:100%;
				height:150px;
				padding:1%;
				
				display:flex;
			}
			.loco
			{
				color:white; 
				display:inline-block;
			}
			.search
			{
				padding:10px; 
				width:100%;
				border-radius:8px;
			}
			.dflag
			{
				width:3%;
				margin-left:2%; 
				background-color:;
				display:flex;
				gap:10%;
			}
			.en
			{
				color:white; 
				width:30%;
				margin-top:25%;
				font-size:15px;
			}
			.white
			{
				color:white;
			}
			.name
			{
				color:white;
				font-weight:bold; 
				font-size:17px;
			}
			.cart
			{
				color:white;
				font-size:20px;
			}
			.icart
			{
				color:white;
				font-size:30px;
			}

			
			.dimg
			{
				display:flex; 
				gap:20%;
			}
			.product
			{
				height:100px; 
				width:55%;
			}

			.mt{
				
				margin-top:15%;
			}
			.grey
			{
				color:lightgrey;
			}
			.text
			{
				color:lightgrey;
				margin-top:7%;
			}
			
			.rtn
			{
				box-sizing:border-box;
				margin-bottom:0;
				background-color:#344C64;
				width:100%;
				padding:1%;
				font-size:20px; 
				height:50px;
				text-align:center;
				color:white;
				font-weight:bold;
			}
			.footer
			{
				width:100%; 
				height:100%;
				background-color:#27374D;
				
				padding:1%;
			}
			.ftd
			{
				display:flex; 
				width:100%; 
				height:100%;
				justify-content:center;
			}
			hr
			{
				margin-top:5%;
				background-color:lightgrey;
			}
			.world
			{
				width:100%; 
				height:100%;
			}
			.dw
			{
				padding:2%; 
				justify-content:center;
				display:flex;
			}
			
			.input
			{  
				margin-left:5%; 
				background-color:#27374D; 
				text-align:center;
			}
			
			.book
			{
				 width:10%; 
				 height:70%;
				 margin-left:2%;
			}
			
			.star
			{
				color:#F45B26; 
				font-size:20px;
			}
			
			.microw
			{
				width:23%;
			}
			
			.mcr
			{
				width:23%; 
				margin-left:2%;
			}
			.deals
			{
				font-size:25px;
				text-align:center;
				font-weight:bold; 
				padding:1%; 
				margin-top:4%;
			}
			
			.dtl
			{
				color:blue; 
				padding:5%; 
				font-size:17px;
			}
			
			.appli
			{
				font-size:25px; 
				text-align:center; 
				font-weight:bold; 
				padding:1%;
				width:90%;
			}
			
			.rev
			{
				font-size:25px;
				text-align:center; 
				font-weight:bold; 
				padding:1%;
				width:90%;
			}
			.expl
			{
				color:blue;
				padding:5%; 
				font-size:17px; 
				margin-left:5%;
			}
			
			.s1
			{
				font-size:25px;
				font-weight:bold;
				padding:0.8%;
			}
			
			.s2
			{
				padding:1%;
				margin-top:10%;
				background-color:#FAE251; 
				width:90%;
				text-align:center;
				margin-left:4%;
				font-weight:bold;
				border-radius:20px;
			}
			.h2
			{
				font-size:25px; 
				text-align:center;
				font-weight:bold; 
				padding:1%;
				margin-top:2%;
			}
			.exm
			{
				color:blue;
				padding:2%;
				font-size:17px;
				margin-left:2%;
			}
			.h1
			{
				font-size:25px; 
				text-align:center; 
				font-weight:bold;
				padding:1%;
				width:90%;
				margin-top:2%;
			}
			
			.ord
			{
				font-size:25px; 
				text-align:center;
				margin-top:2%; 
				font-weight:bold;
				padding:1.2%; 
				width:90%;
			}
			
			.free
			{
				color:blue; 
				padding:2%;
				font-size:17px;
				margin-left:5%;
			}
			.sm
			{
				color:blue;
				padding:2%;
				font-size:17px;
				margin-left:5%;
			}
			
			.im1
			{
				height:100px; 
				width:45%;
			}
			
			.mg
			{
				margin-top:10%;
			}
			
			.im2
			{
				height:100px; 
				width:43%;
				margin-left:10%;
			}
			
			.lft
			{
				width:12%;
				height:100%; 
				background-color:; 
				margin-left:5%;
			}
			
			.headf
			{
				color:white;
				font-weight:bold;
			}
			
			.spn
			{
				background-color:#FFA02E;
			}